<%
layout(_view.get('_layout/content'));

script('front/script/Front.js');
script('front/script/Form.js');
script('front/script/Page.js');
script('front/script/Member.js');
script('front/script/Album.js');
script('front/script/Photo.js');
script('front/script/Comment.js');
script('front/script/module.js');

const dataUrl = _url('/api/base/data/');
const fileUrl = _url('/api/base/file/');
const metaUrl = _url('/api/base/meta/');
%>

<div class="front"
     data-guest="<%- _controller.user.isGuest() %>"
     data-user="<%- _controller.user.getId() %>"
     data-data-url="<%- dataUrl %>"
     data-meta-url="<%- metaUrl %>">

    <%- include('./_main') %>
    <%- include('./_member') %>
    <%- include('./_album') %>
    <%- include('./_photo') %>
    <%- include('./_newComment') %>
    <%- include('./_invite') %>
</div>